@import "tailwindcss";

@theme {
  --color-btn: #7c5dfa;
  --color-delete: #ec5757;
  --color-deleteHover: #9277ff;
  --color-title: #0c0e16;
  --color-description: #7e88c3;
  --color-paid: #33d69f;
  --color-pending: #ff8f00;
  --color-draft: #373b53;
  --color-header: #373b53;
  --color-header-divider: #494e6e;
  --color-bg: #f8f8fb;
  --color-muted: #888eb0;
  --color-name: #858bb2;
  --color-field: #dfe3fa;
  --color-soft: #f9fafe;
  --color-subheading: #777f98;
  --color-delete-hover: #ff9797;

  --text-primary: 15px;
  --text-secondary: 13px;
  --text-heading-m: 24px;
  --text-heading-l: 36px;
  --text-heading-s: 18px;

  --leading-primary: 15px;
  --leading-primary-loose: 24px;
  --leading-secondary: 15px;
  --leading-body: 18px;
  --leading-heading-m: 22px;
  --leading-heading-l: 36px;
  --leading-heading: 32px;
  --leading-value: 20px;

  --tracking-primary: -0.25px;
  --tracking-body: -0.1px;
  --tracking-heading-m: -0.75px;
  --tracking-heading-l: -1.125px;
  --tracking-heading-drawer: -0.5px;
  --tracking-heading-s: -0.375px;

  --shadow-card: 0 10px 10px -10px rgba(72, 84, 159, 0.1);
  --shadow-dropdown: 0 10px 20px 0 rgba(72, 84, 159, 0.25);
}
body {
  font-family: "League Spartan", sans-serif;
  background-color: var(--color-bg);
}

@utility form-label {
  @apply text-secondary leading-secondary font-medium tracking-body text-description;
}

@utility form-input {
  @apply h-12 w-full rounded-sm border border-field bg-white px-5 text-primary leading-primary font-bold tracking-primary text-title caret-btn outline-none transition-colors hover:border-btn focus:border-btn;
}
